@using System.Web.Optimization
@using WebApp
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    @Html.Partial("_alerts")
    @RenderBody()
    @Scripts.Render("~/js")
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript" src="@Url.Action("Config", "Config")"></script>
    <script type="text/javascript" src="@Url.Action("Config", "Home")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

